.social-parent{
    height: 95vh;
    width: 50%;
    border:1px solid rgb(194, 194, 194) ;
    margin: 20px 20px 0px 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 2px 2px lightgray;
    background-color: rgb(173, 221, 230);
}
.social-button{
    margin-top: 10px;
    margin-left: 10px;
}   
.button-div{
display: flex;
width: 100%;
justify-content: flex-end;
}
.input-div{
    display: flex;
    width: 100% !important;
}
.social-input{
    background-color: white !important;
    border-radius: 5px !important;
}
.input-div .social-input{
    flex: 4 0 !important; 
}
.input-div .copy-button{
flex: 1 0;
}
.social-heading{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    margin: 5px;
    text-shadow: 3px 3px 3px rgb(216, 216, 216);
}
.share-parent{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.icon-name{
font-size: small;
}
.copy-button{
 background-color: blue !important;
 color: white !important;
}
@media(max-width:400px){
    .social-parent {
        width: 330px !important;
    }
}