html{
	box-sizing: border-box;
  overflow-x: hidden;
}

*, *:after,*:before{
	box-sizing: border-box;
}


.shareSocial{
  display: flex;
}

.shareLink {
  .permalink {
    position: relative;
    border-radius: 30px;
    .textLink {
      text-align: center;
      padding: 12px 60px 12px 30px;
      height: 45px;
      width: 450px;
      font-size: 16px;
      letter-spacing: .3px;
      color: #494949;
      border-radius: 25px;
      border: 1px solid #f2f2f2;
      background-color: #f2f2f2;
      outline: 0;
      appearance: none;
      transition: all .3s ease;
      @media (max-width: 767px) {
        width: 100%;
      }
      &:focus {
        border-color: #d8d8d8;
      }
      &::selection {
        color: #fff;
        background-color: #ff0a4b;
      }
    }
    
    .copyLink {
      position: absolute;
      top: 50%;
      right: 25px;
      cursor: pointer;
      transform: translateY(-50%);
      &:hover {
        &:after {
          opacity: 1;
          transform: translateY(0) translateX(-50%);
        }
      }
      &:after {
        content: attr(tooltip);
        width: 140px;
        bottom: -40px;
        left: 50%;
        padding: 5px;
        border-radius: 4px;
        font-size: 0.8rem;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        background-color: #000000;
        color: #ffffff;
        transform: translateY(-10px) translateX(-50%);
        transition: all 300ms ease;
            text-align: center;
      }
    }
  }
}

.copyLink{
  color: #ff0a4b;
}

.social-media-icons{
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.social-media-icons button{
  background-color: #f2f2f2;
  border-radius: 48%;
  padding: 0.5rem;
  align-items: center;
  margin-left: 0.3rem;
  border: none;
  cursor: pointer;
}

.social-media-icons span{
  margin-top: 3px;
  padding-inline: 3px;
}

.first-element{
  margin-top: 0.5rem;
}
/* 
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
  
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(20px);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out;
} */

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}